@{
    ViewData["Title"] = "Confirm Email";
    Layout = "_SimpleLayout";
}

<div class="container body-content">
<div>
    <p>
        Thank you for confirming your email. Please <a asp-controller="Account" asp-action="Login">Click here to Log in</a>.
    </p>

</div>
</div>