@model DateTime?

<div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
    @Html.TextBox("", ViewData.TemplateInfo.FormattedModelValue, 
        new { @class = "form-control"})
    
    <div class="input-group-addon" style="cursor:pointer">
        <span class="glyphicon glyphicon-th"></span>
    </div>
</div>