@model BookDetailsViewModel

@{
    ViewData["PageTitle"] = "Book details";
    Layout = "_MainLayout";
}

<div class="row">
    <div class="col-lg-6">
         <form class="form-horizontal" role="form">
                @Html.EditorForModel()
        </form>
    </div>
</div>

